//tipografia 

h5 {
    font-family: $ubuntu;
    font-weight: $ubuntu !important;
    margin-left: 10px;
}

p {
    font-family: $ubuntu;
    font-weight: $ubuntu;
    margin-left: 15px;
}

span {
    font-family: $ubuntu;
    font-weight: $ubuntu;
}